body {
    .ace-monokai {
        background-color: transparent;


        .ace_gutter-layer, .ace_gutter {
            background-color: transparent;
        }

        .ace_print-margin {
            width: 1px;
            background: #2f2f2f;
        }
    }

}


